/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
:root {
    --color1: #79a3f7;
    --color2: #ffffff;
    --color3: #000000;
   --color4: #d2f8ff;
   --color5: #0070cb; 
   --color6: #020a77;
}

body{
 display: grid;
 grid-template-areas:
 "header header"
 "main nav"
 "footer footer";
 grid-template-rows: 100px 1fr 60px;
 grid-template-columns: 10fr 1fr;
 background-color: #79a3f7;
}
header{
   grid-area: header;
   background-color: var(--color5);
   border-radius: 10px;
}
nav{
 grid-area: nav;
 background-color: var(--color4);
}

nav ul {
list-style: none;
}

nav a {
   text-decoration: none;
   color: var(--color6);
}

nav ul li {
   margin-top: 80px;
}


main{
grid-area: main;
background-color: var(--);
}
footer{
grid-area: footer;
}

h1{
   text-align: center;
   color: var(--color4);
   font-size: 35px;
   font-family: "Oswald", sans-serif;
   font-weight: 700;
   font-weight: bolder;
}

h2{
   text-align: center;
   color: var(--color4);
   font-size: 30px;
   font-family: "Oswald",sans-serif;
}

h3{
   text-align: start;
   color: var(--color4);
   font-size: 20px;
 
}

h4 {
   text-align: start;
   color: var(--color4);
   font-size: 20px;
   background-color: var(--colo6);
}
.Afbeeldingen {
   display: flex;
   justify-content: center;
   gap: 100px;
}
p { text-align: center;
color: #ffffff;
font-size: 20px;
font-family: sans-serif;
font-weight: 500;
}

